.sns_block {
    border: 1px solid black; min-height: 75px; background-color: black; opacity: 0.9;
}
.border_white {
    border: 1px solid white; min-height: 40px; background-color: white;
}
.subscribe_block {
    border: 1px solid rgba(255, 0, 0, 0); min-height: 40px; height: 100%; line-height: 40px; vertical-align: middle;
}
.company_block {
    border: 1px solid black; min-height:200px; background-color: black;
}
.copyright_block {
    border: 1px solid black; min-height:100px; background-color: black;
}
.hr_white {
    border-top: 1px solid white; opacity: 0.1; margin-left: -15px; margin-right: -15px;
}
.logo_bottom {
    border: 1px solid black; background-color: black; min-height: 80px;
}
.mlr_minus15 {
    margin-right: -15px; margin-left: -15px;
}
.mr_minus15 {
    margin-right: -15px;
}
.z_index3 {
    z-index: 3;
}
.display_none {
    display: none;
}
.z_index2 {
    z-index: 2;
}
.line_height13 {
    line-height: 1.3;
}
.display_none {
    display: none;
}
.menu_home {
    margin-top: 2px;
}
.position_absolute_top {
    position: absolute; top: 0;
}
.text_decoration_line_through{
    text-decoration: line-through
}
.img_thumb_nail {
    min-width: 100px; min-height: 100px;
}
