/* .line_height13 {
    line-height: 1.3;
} */
.categoryb_product_size {
    width: 240px; height: 360px; float: left; margin-left: 5px; margin-bottom: 20px;
}
.categoryb_image_size {
    width: 240px; height: 220px;
}
.product_name_size {
    width: 230px; height: 50px; margin-top: 20px;
}
